# Notebook 1: Green Data Python Analysis – Foundations
### Welcome to Green Data!

### Topics covered: Python Setup, Data Cleaning, Data Wrangling, Data Visualization (basics), Time Series (basics)

## Getting Started with Python

#### Importing Packages

Packages contain useful functions that anyone can import to use on Python. These are the main ones we will be using:

In [ ]:
import numpy as np  #for mathematical operations

import scipy as sc #for more advanced mathematical operations

import matplotlib.pyplot as plt  #for plotting data

import pandas as pd  #for data analysis

#### Importing Datasets

First, download the example dataset from our Green Data folder here: https://drive.google.com/drive/u/1/folders/1K5UGTtDnP4tCr5Y3hJNCDsuPKoV2JZFR

Make sure you save it somewhere you can find the path.

Define an object called 'path' with the path where you saved your dataset. It should look something like this:
"/Users/panchalichoudhary/Desktop/GD_exampledataset.csv"

Make sure you don't forget the quotation marks.

In [1]:
# Define the path to your dataset
path =

Now, we will use the pandas function pd.read_csv() to import our dataset. Define an object called 'df', plugging your path into the function.

In [ ]:
# Read in your dataset with pandas
# df = pd.read_csv(path)

Visualize your dataset.

In [2]:
# Display the first few rows
# df.head()

# Or view the entire dataset
# df or print(df)

## Introduction to Data Analysis 
#### Basic Functions

To check data types present in a dataset:

In [ ]:
#use .dtypes

For a brief statistical summary:

In [ ]:
#use .describe

For a full statistical summary (all columns, including non-numerical):

In [ ]:
#modify .describe

For a concise summary of your dataset:

In [ ]:
#use .info

## Cleaning Data

Sometimes datasets aren't perfect and there are missing values or duplicates. It's important to remove these values if we want to conduct data analysis that makes sense. Missing values show up as 'NaN' on Python, and we use np.nan in code to refer to them.

In [ ]:
#check missing values using .isnull.sum()

In [ ]:
#replace missing value with whatever you want using .replace

In [ ]:
#or replace the missing value with the mean of that column. hint: use .mean

In [3]:
#to drop duplicates, use .drop_duplicates()

# Data Wrangling

## Data Formatting

You can apply calculations to entire columns. Let's say you want to convert Water Usage from gallons to liters:

In [ ]:
#convert gallons to liters using conversion factor of 1 gal = 3.78541 L

In [ ]:
#rename column using .rename

You can also convert an object's data type:

In [ ]:
#use .astype

## Data Normalization

Sometimes we want to normalize data so that values are all within the same range. When we look at our dataset, for example, Energy Usage and Waste Generation are in different ranges. When we do data analysis with these two variables, Energy Usage can influence our results more since the numbers are "larger". To avoid this issue and eliminate data biases, we can normalize our data:

#### Simple Feature Scaling

In [ ]:
df["Waste_Generation (kg/month) [Normalized]"] = df["Waste_Generation (kg/month)"]/df["Waste_Generation (kg/month)"].max()
#and we can do the same thing with Energy Usage

#### Min-Max

In [ ]:
df["Waste_Generation (kg/month) [Normalized]"] = (df["Waste_Generation (kg/month)"]-df["Waste_Generation (kg/month)"].min())/(df["Waste_Generation (kg/month)"].max()-df["Waste_Generation (kg/month)"].min())

#### Z-Score

In [ ]:
df["Waste_Generation (kg/month)"] = (df["Waste_Generation (kg/month)"]-df["Waste_Generation (kg/month)"].mean())/df["Waste_Generation (kg/month)"].std()

## Binning

Sometimes we want to convert continuous data into discrete data and group our data into small groups.

In [ ]:
#define numberofbins:

#use np.linspace to set up bins:

In [ ]:
#set bin names

In [ ]:
#add bin columns to df using pd.cut

## Converting categorical variables into quantitative variables

Sometimes we want need our categorical variables to have some numeric value so that we can conduct data analysis. Let's say we wanted to see the effect of the type of building on energy usage (which should be a mathematical relationship). Type of building is a categorical variable, so we want to give it numeric value by converting it into a quantiative variable.

In [ ]:
#assigns a dummy variable to each categorical variable using pd.get_dummies

In [ ]:
#save a new dataframe with the new columns using .join

# Data Visualization (Basics)

Data visualizations help us see distributions and relationships in a dataset.

### Histogram
Make a histogram of energy usage.

In [ ]:
# use .hist()

### Scatterplot
Create a scatterplot of Energy Usage vs. Waste Generation

In [ ]:
# use plt.scatter()

### Boxplot
Box plots are an easy way to demonstrate the statistics of a dataset. 

Make a boxplot of Waste Generation grouped by Building Type.

In [ ]:
# use sns.boxplot

## Basics of Time Series Analysis
Time series analysis involves analyzing time-ordered data to identify trends, seasonal patterns, and other characteristics to extract insights and make future predictions.

First, let's practice importing a dataset again. Download the Mexico City Air Quality Data from our training resources folder and load it into the notebook.

Now let's explore the dataset using some of the functions we learned before.

In [1]:
#hint: use .head(), .info(), and .describe()

Look for what each column represents. Which one is time? Which are pollutants? Also, are all the columns numeric?

#### Converting Data to Datetime Form

Before we can do any time series analysis, we need to clean the data and convert the timestamp into datetime form.

In [2]:
## Convert the timestamp column to datetime
#df['Timestamp'] = pd.to_datetime(df['Timestamp'], dayfirst=True)

# Set as index
#df = df.set_index('Timestamp')

# Check the new index
#df.index

Notice the day/month order — dayfirst=True helps parse correctly.

#### Handle Missing Data
We also need to check for missing values and decide how to handle them. Of the two options, try either.

In [ ]:
# Check for missing values
#df.isna().sum()

# Option 1: Drop missing rows
#df_clean = df.dropna()

# Option 2: Fill missing values using interpolation
#df_clean = df.interpolate(method='time')

Note: Interpolation is better for time series because it estimates based on trends rather than removing rows.

#### Visualizing Time Series

We want to visualize the air pollutant levels provided by the dataset, so let's plot pollutant trends over time.

In [ ]:
#df_clean[['PM2.5 [ug/m3]', 'PM10[ug/m3]', 'Ozone [ppb]']].plot(figsize=(10,5))
#plt.title("Air Pollutant Levels Over Time")
#plt.xlabel("Time")
#plt.ylabel("Concentration")
#plt.show()

Hint: Start with a small sample (e.g. one month) if your plot of all the data looks crowded.