# Notebook 1: Green Data Python Analysis â€“ Foundations
### Welcome to Green Data!

### Topics covered: Python Setup, Data Cleaning, Data Wrangling, Data Visualization (basics), Time Series (basics)

## Getting Started with Python

#### Importing Packages

Packages contain useful functions that anyone can import to use on Python. These are the main ones we will be using:

In [1]:
import numpy as np  #for mathematical operations

import scipy as sc #for more advanced mathematical operations

import matplotlib.pyplot as plt  #for plotting data

import pandas as pd  #for data analysis

#### Importing Datasets

First, download the example dataset from our Green Data folder here: https://drive.google.com/drive/u/1/folders/1K5UGTtDnP4tCr5Y3hJNCDsuPKoV2JZFR

Make sure you save it somewhere you can find the path.

Define an object called 'path' with the path where you saved your dataset. It should look something like this:
"/Users/panchalichoudhary/Desktop/GD_exampledataset.csv"

Make sure you don't forget the quotation marks.

In [2]:
# Define the path to your dataset
path = 'GD_exampledataset.csv'

Now, we will use the pandas function pd.read_csv() to import our dataset. Define an object called 'df', plugging your path into the function.

In [3]:
# Read in your dataset with pandas
df = pd.read_csv(path)

Visualize your dataset.

In [31]:
# Display the first few rows
df.head()

# Or view the entire dataset
df

,Building_Name,Energy_Usage (kWh),Water_Usage (gal),GHG_Emissions (kg),Waste_Generation (kg/month),Type_of_Building,Waste_Generation (kg/month) [Normalized]
0,Eco Tower,45000,28000.0,6000,-0.771319,Residential,0.264706
1,Green Office,32000,18000.0,4800,-1.557615,Comercial,0.058824
2,Solaris Mall,75000,42000.0,10500,2.036881,Comercial,1.000000
3,Sustainable HQ,56000,32000.0,7000,-0.209679,Comercial,0.411765
4,Eco Haven,39000,NaN,5800,-0.995975,School,0.205882
5,Eco Dynamics,42000,24000.0,6500,-0.546663,Residential,0.323529
6,Green Plaza,30000,17000.0,4500,-1.782270,Comercial,0.000000
7,Solar Heights,68000,38000.0,9500,1.475241,Residential,0.852941
8,Terra Green,59000,33000.0,7200,0.014977,School,0.470588
9,BioTech Tower,48000,27000.0,6000,-0.771319,School,0.264706
10,Eco Innovations,44000,25000.0,6200,-0.658991,Comercial,0.294118
11,Aqua Center,67000,37000.0,9200,1.250585,Residential,0.794118
12,Harmony Hall,51000,29000.0,6800,-0.322007,School,0.382353
13,Green Horizon,43000,24000.0,6100,-0.771319,Residential,0.264706
14,Solar Power Plaza,72000,40000.0,10000,1.812225,Comercial,0.941176
15,Eco Office Park,55000,31000.0,6900,-0.209679,Residential,0.411765
16,Sustainable Hub,60000,34000.0,7500,0.127305,Comercial,0.500000
17,Nature's Place,36000,20000.0,5200,-1.332959,School,0.117647
18,Green Terrace,40000,23000.0,5900,-0.883647,Residential,0.235294
19,Solar Heights,63000,36000.0,8800,1.025929,Residential,0.735294
20,BioTech Center,47000,26000.0,6200,-0.658991,Comercial,0.294118
21,Eco Oasis,41000,23000.0,5800,-0.995975,School,0.205882
22,Green Park,48000,27000.0,6900,-0.209679,Residential,0.411765
23,Sunrise Tower,70000,39000.0,9600,1.475241,Comercial,0.852941
24,Eco Village,52000,29000.0,7000,-0.097351,Residential,0.441176
25,Green Innovations,46000,26000.0,6500,-0.546663,Comercial,0.323529
26,Sunset View,64000,36000.0,9200,1.250585,School,0.794118
27,Eco Center,55000,31000.0,7500,0.127305,School,0.500000
28,Green Living,38000,21000.0,5500,-1.108303,Residential,0.176471
29,Sunshine Plaza,43000,24000.0,6000,-0.771319,Comercial,0.264706
30,Eco Heights,60000,34000.0,8400,0.801273,Residential,0.676471
31,Green Oasis,49000,28000.0,7200,0.014977,School,0.470588
32,Sunrise Terrace,72000,40000.0,10000,1.812225,Residential,0.941176
33,Eco Complex,58000,33000.0,8000,0.464289,Residential,0.588235
34,Green Haven,52000,29000.0,7000,-0.097351,School,0.441176
35,Sunset Tower,66000,37000.0,9200,1.250585,Residential,0.794118
36,Eco Innovations,44000,25000.0,6200,-0.658991,Comercial,0.294118
37,Green Park,48000,27000.0,6900,-0.209679,Residential,0.411765
38,Sunrise Plaza,68000,38000.0,9500,1.475241,Residential,0.852941
39,Eco Village,52000,29000.0,7000,-0.097351,School,0.441176
40,Green Oasis,49000,28000.0,7200,0.014977,School,0.470588
41,Sunshine View,65000,36000.0,8900,1.138257,School,0.764706
42,Eco Heights,60000,34000.0,8400,0.801273,Residential,0.676471
43,Green Living,38000,21000.0,5500,-1.108303,School,0.176471
44,Sunset Terrace,41000,23000.0,5800,-0.995975,Residential,0.205882

## Introduction to Data Analysis 
#### Basic Functions

To check data types present in a dataset:

In [5]:
#use .dtypes

For a brief statistical summary:

In [32]:
df.describe

<bound method NDFrame.describe of         Building_Name  Energy_Usage (kWh)  Water_Usage (gal)  \
0           Eco Tower               45000            28000.0
1        Green Office               32000            18000.0
2        Solaris Mall               75000            42000.0
3      Sustainable HQ               56000            32000.0
4           Eco Haven               39000                NaN
5        Eco Dynamics               42000            24000.0
6         Green Plaza               30000            17000.0
7       Solar Heights               68000            38000.0
8         Terra Green               59000            33000.0
9       BioTech Tower               48000            27000.0
10    Eco Innovations               44000            25000.0
11        Aqua Center               67000            37000.0
12       Harmony Hall               51000            29000.0
13      Green Horizon               43000            24000.0
14  Solar Power Plaza               72000            40000.0
15    Eco Office Park               55000            31000.0
16    Sustainable Hub               60000            34000.0
17     Nature's Place               36000            20000.0
18      Green Terrace               40000            23000.0
19      Solar Heights               63000            36000.0
20     BioTech Center               47000            26000.0
21          Eco Oasis               41000            23000.0
22         Green Park               48000            27000.0
23      Sunrise Tower               70000            39000.0
24        Eco Village               52000            29000.0
25  Green Innovations               46000            26000.0
26        Sunset View               64000            36000.0
27         Eco Center               55000            31000.0
28       Green Living               38000            21000.0
29     Sunshine Plaza               43000            24000.0
30        Eco Heights               60000            34000.0
31        Green Oasis               49000            28000.0
32    Sunrise Terrace               72000            40000.0
33        Eco Complex               58000            33000.0
34        Green Haven               52000            29000.0
35       Sunset Tower               66000            37000.0
36    Eco Innovations               44000            25000.0
37         Green Park               48000            27000.0
38      Sunrise Plaza               68000            38000.0
39        Eco Village               52000            29000.0
40        Green Oasis               49000            28000.0
41      Sunshine View               65000            36000.0
42        Eco Heights               60000            34000.0
43       Green Living               38000            21000.0
44     Sunset Terrace               41000            23000.0

    GHG_Emissions (kg)  Waste_Generation (kg/month) Type_of_Building  \
0                 6000                    -0.771319      Residential
1                 4800                    -1.557615        Comercial
2                10500                     2.036881        Comercial
3                 7000                    -0.209679        Comercial
4                 5800                    -0.995975           School
5                 6500                    -0.546663      Residential
6                 4500                    -1.782270        Comercial
7                 9500                     1.475241      Residential
8                 7200                     0.014977           School
9                 6000                    -0.771319           School
10                6200                    -0.658991        Comercial
11                9200                     1.250585      Residential
12                6800                    -0.322007           School
13                6100                    -0.771319      Residential
14               10000                     1.812225        Comercial
15                6900                    -0.209679      Residential
16                7500                     0.127305        Comercial
17                5200                    -1.332959           School
18                5900                    -0.883647      Residential
19                8800                     1.025929      Residential
20                6200                    -0.658991        Comercial
21                5800                    -0.995975           School
22                6900                    -0.209679      Residential
23                9600                     1.475241        Comercial
24                7000                    -0.097351      Residential
25                6500                    -0.546663        Comercial
26                9200                     1.250585           School
27                7500                     0.127305           School
28                5500                    -1.108303      Residential
29                6000                    -0.771319        Comercial
30                8400                     0.801273      Residential
31                7200                     0.014977           School
32               10000                     1.812225      Residential
33                8000                     0.464289      Residential
34                7000                    -0.097351           School
35                9200                     1.250585      Residential
36                6200                    -0.658991        Comercial
37                6900                    -0.209679      Residential
38                9500                     1.475241      Residential
39                7000                    -0.097351           School
40                7200                     0.014977           School
41                8900                     1.138257           School
42                8400                     0.801273      Residential
43                5500                    -1.108303           School
44                5800                    -0.995975      Residential

    Waste_Generation (kg/month) [Normalized]
0                                   0.264706
1                                   0.058824
2                                   1.000000
3                                   0.411765
4                                   0.205882
5                                   0.323529
6                                   0.000000
7                                   0.852941
8                                   0.470588
9                                   0.264706
10                                  0.294118
11                                  0.794118
12                                  0.382353
13                                  0.264706
14                                  0.941176
15                                  0.411765
16                                  0.500000
17                                  0.117647
18                                  0.235294
19                                  0.735294
20                                  0.294118
21                                  0.205882
22                                  0.411765
23                                  0.852941
24                                  0.441176
25                                  0.323529
26                                  0.794118
27                                  0.500000
28                                  0.176471
29                                  0.264706
30                                  0.676471
31                                  0.470588
32                                  0.941176
33                                  0.588235
34                                  0.441176
35                                  0.794118
36                                  0.294118
37                                  0.411765
38                                  0.852941
39                                  0.441176
40                                  0.470588
41                                  0.764706
42                                  0.676471
43                                  0.176471
44                                  0.205882  >

For a full statistical summary (all columns, including non-numerical):

In [33]:
df.describe

<bound method NDFrame.describe of         Building_Name  Energy_Usage (kWh)  Water_Usage (gal)  \
0           Eco Tower               45000            28000.0
1        Green Office               32000            18000.0
2        Solaris Mall               75000            42000.0
3      Sustainable HQ               56000            32000.0
4           Eco Haven               39000                NaN
5        Eco Dynamics               42000            24000.0
6         Green Plaza               30000            17000.0
7       Solar Heights               68000            38000.0
8         Terra Green               59000            33000.0
9       BioTech Tower               48000            27000.0
10    Eco Innovations               44000            25000.0
11        Aqua Center               67000            37000.0
12       Harmony Hall               51000            29000.0
13      Green Horizon               43000            24000.0
14  Solar Power Plaza               72000            40000.0
15    Eco Office Park               55000            31000.0
16    Sustainable Hub               60000            34000.0
17     Nature's Place               36000            20000.0
18      Green Terrace               40000            23000.0
19      Solar Heights               63000            36000.0
20     BioTech Center               47000            26000.0
21          Eco Oasis               41000            23000.0
22         Green Park               48000            27000.0
23      Sunrise Tower               70000            39000.0
24        Eco Village               52000            29000.0
25  Green Innovations               46000            26000.0
26        Sunset View               64000            36000.0
27         Eco Center               55000            31000.0
28       Green Living               38000            21000.0
29     Sunshine Plaza               43000            24000.0
30        Eco Heights               60000            34000.0
31        Green Oasis               49000            28000.0
32    Sunrise Terrace               72000            40000.0
33        Eco Complex               58000            33000.0
34        Green Haven               52000            29000.0
35       Sunset Tower               66000            37000.0
36    Eco Innovations               44000            25000.0
37         Green Park               48000            27000.0
38      Sunrise Plaza               68000            38000.0
39        Eco Village               52000            29000.0
40        Green Oasis               49000            28000.0
41      Sunshine View               65000            36000.0
42        Eco Heights               60000            34000.0
43       Green Living               38000            21000.0
44     Sunset Terrace               41000            23000.0

    GHG_Emissions (kg)  Waste_Generation (kg/month) Type_of_Building  \
0                 6000                    -0.771319      Residential
1                 4800                    -1.557615        Comercial
2                10500                     2.036881        Comercial
3                 7000                    -0.209679        Comercial
4                 5800                    -0.995975           School
5                 6500                    -0.546663      Residential
6                 4500                    -1.782270        Comercial
7                 9500                     1.475241      Residential
8                 7200                     0.014977           School
9                 6000                    -0.771319           School
10                6200                    -0.658991        Comercial
11                9200                     1.250585      Residential
12                6800                    -0.322007           School
13                6100                    -0.771319      Residential
14               10000                     1.812225        Comercial
15                6900                    -0.209679      Residential
16                7500                     0.127305        Comercial
17                5200                    -1.332959           School
18                5900                    -0.883647      Residential
19                8800                     1.025929      Residential
20                6200                    -0.658991        Comercial
21                5800                    -0.995975           School
22                6900                    -0.209679      Residential
23                9600                     1.475241        Comercial
24                7000                    -0.097351      Residential
25                6500                    -0.546663        Comercial
26                9200                     1.250585           School
27                7500                     0.127305           School
28                5500                    -1.108303      Residential
29                6000                    -0.771319        Comercial
30                8400                     0.801273      Residential
31                7200                     0.014977           School
32               10000                     1.812225      Residential
33                8000                     0.464289      Residential
34                7000                    -0.097351           School
35                9200                     1.250585      Residential
36                6200                    -0.658991        Comercial
37                6900                    -0.209679      Residential
38                9500                     1.475241      Residential
39                7000                    -0.097351           School
40                7200                     0.014977           School
41                8900                     1.138257           School
42                8400                     0.801273      Residential
43                5500                    -1.108303           School
44                5800                    -0.995975      Residential

    Waste_Generation (kg/month) [Normalized]
0                                   0.264706
1                                   0.058824
2                                   1.000000
3                                   0.411765
4                                   0.205882
5                                   0.323529
6                                   0.000000
7                                   0.852941
8                                   0.470588
9                                   0.264706
10                                  0.294118
11                                  0.794118
12                                  0.382353
13                                  0.264706
14                                  0.941176
15                                  0.411765
16                                  0.500000
17                                  0.117647
18                                  0.235294
19                                  0.735294
20                                  0.294118
21                                  0.205882
22                                  0.411765
23                                  0.852941
24                                  0.441176
25                                  0.323529
26                                  0.794118
27                                  0.500000
28                                  0.176471
29                                  0.264706
30                                  0.676471
31                                  0.470588
32                                  0.941176
33                                  0.588235
34                                  0.441176
35                                  0.794118
36                                  0.294118
37                                  0.411765
38                                  0.852941
39                                  0.441176
40                                  0.470588
41                                  0.764706
42                                  0.676471
43                                  0.176471
44                                  0.205882  >

For a concise summary of your dataset:

In [34]:
df.info

<bound method DataFrame.info of         Building_Name  Energy_Usage (kWh)  Water_Usage (gal)  \
0           Eco Tower               45000            28000.0
1        Green Office               32000            18000.0
2        Solaris Mall               75000            42000.0
3      Sustainable HQ               56000            32000.0
4           Eco Haven               39000                NaN
5        Eco Dynamics               42000            24000.0
6         Green Plaza               30000            17000.0
7       Solar Heights               68000            38000.0
8         Terra Green               59000            33000.0
9       BioTech Tower               48000            27000.0
10    Eco Innovations               44000            25000.0
11        Aqua Center               67000            37000.0
12       Harmony Hall               51000            29000.0
13      Green Horizon               43000            24000.0
14  Solar Power Plaza               72000            40000.0
15    Eco Office Park               55000            31000.0
16    Sustainable Hub               60000            34000.0
17     Nature's Place               36000            20000.0
18      Green Terrace               40000            23000.0
19      Solar Heights               63000            36000.0
20     BioTech Center               47000            26000.0
21          Eco Oasis               41000            23000.0
22         Green Park               48000            27000.0
23      Sunrise Tower               70000            39000.0
24        Eco Village               52000            29000.0
25  Green Innovations               46000            26000.0
26        Sunset View               64000            36000.0
27         Eco Center               55000            31000.0
28       Green Living               38000            21000.0
29     Sunshine Plaza               43000            24000.0
30        Eco Heights               60000            34000.0
31        Green Oasis               49000            28000.0
32    Sunrise Terrace               72000            40000.0
33        Eco Complex               58000            33000.0
34        Green Haven               52000            29000.0
35       Sunset Tower               66000            37000.0
36    Eco Innovations               44000            25000.0
37         Green Park               48000            27000.0
38      Sunrise Plaza               68000            38000.0
39        Eco Village               52000            29000.0
40        Green Oasis               49000            28000.0
41      Sunshine View               65000            36000.0
42        Eco Heights               60000            34000.0
43       Green Living               38000            21000.0
44     Sunset Terrace               41000            23000.0

    GHG_Emissions (kg)  Waste_Generation (kg/month) Type_of_Building  \
0                 6000                    -0.771319      Residential
1                 4800                    -1.557615        Comercial
2                10500                     2.036881        Comercial
3                 7000                    -0.209679        Comercial
4                 5800                    -0.995975           School
5                 6500                    -0.546663      Residential
6                 4500                    -1.782270        Comercial
7                 9500                     1.475241      Residential
8                 7200                     0.014977           School
9                 6000                    -0.771319           School
10                6200                    -0.658991        Comercial
11                9200                     1.250585      Residential
12                6800                    -0.322007           School
13                6100                    -0.771319      Residential
14               10000                     1.812225        Comercial
15                6900                    -0.209679      Residential
16                7500                     0.127305        Comercial
17                5200                    -1.332959           School
18                5900                    -0.883647      Residential
19                8800                     1.025929      Residential
20                6200                    -0.658991        Comercial
21                5800                    -0.995975           School
22                6900                    -0.209679      Residential
23                9600                     1.475241        Comercial
24                7000                    -0.097351      Residential
25                6500                    -0.546663        Comercial
26                9200                     1.250585           School
27                7500                     0.127305           School
28                5500                    -1.108303      Residential
29                6000                    -0.771319        Comercial
30                8400                     0.801273      Residential
31                7200                     0.014977           School
32               10000                     1.812225      Residential
33                8000                     0.464289      Residential
34                7000                    -0.097351           School
35                9200                     1.250585      Residential
36                6200                    -0.658991        Comercial
37                6900                    -0.209679      Residential
38                9500                     1.475241      Residential
39                7000                    -0.097351           School
40                7200                     0.014977           School
41                8900                     1.138257           School
42                8400                     0.801273      Residential
43                5500                    -1.108303           School
44                5800                    -0.995975      Residential

    Waste_Generation (kg/month) [Normalized]
0                                   0.264706
1                                   0.058824
2                                   1.000000
3                                   0.411765
4                                   0.205882
5                                   0.323529
6                                   0.000000
7                                   0.852941
8                                   0.470588
9                                   0.264706
10                                  0.294118
11                                  0.794118
12                                  0.382353
13                                  0.264706
14                                  0.941176
15                                  0.411765
16                                  0.500000
17                                  0.117647
18                                  0.235294
19                                  0.735294
20                                  0.294118
21                                  0.205882
22                                  0.411765
23                                  0.852941
24                                  0.441176
25                                  0.323529
26                                  0.794118
27                                  0.500000
28                                  0.176471
29                                  0.264706
30                                  0.676471
31                                  0.470588
32                                  0.941176
33                                  0.588235
34                                  0.441176
35                                  0.794118
36                                  0.294118
37                                  0.411765
38                                  0.852941
39                                  0.441176
40                                  0.470588
41                                  0.764706
42                                  0.676471
43                                  0.176471
44                                  0.205882  >

## Cleaning Data

Sometimes datasets aren't perfect and there are missing values or duplicates. It's important to remove these values if we want to conduct data analysis that makes sense. Missing values show up as 'NaN' on Python, and we use np.nan in code to refer to them.

In [35]:
df.isnull.sum()

AttributeError: 'function' object has no attribute 'sum'

In [10]:
#replace missing value with whatever you want using .replace

In [11]:
#or replace the missing value with the mean of that column. hint: use .mean

In [12]:
#to drop duplicates, use .drop_duplicates()

# Data Wrangling

## Data Formatting

You can apply calculations to entire columns. Let's say you want to convert Water Usage from gallons to liters:

In [13]:
#convert gallons to liters using conversion factor of 1 gal = 3.78541 L

In [14]:
#rename column using .rename

You can also convert an object's data type:

In [15]:
#use .astype

## Data Normalization

Sometimes we want to normalize data so that values are all within the same range. When we look at our dataset, for example, Energy Usage and Waste Generation are in different ranges. When we do data analysis with these two variables, Energy Usage can influence our results more since the numbers are "larger". To avoid this issue and eliminate data biases, we can normalize our data:

#### Simple Feature Scaling

In [16]:
df["Waste_Generation (kg/month) [Normalized]"] = df["Waste_Generation (kg/month)"]/df["Waste_Generation (kg/month)"].max()
#and we can do the same thing with Energy Usage

#### Min-Max

In [17]:
df["Waste_Generation (kg/month) [Normalized]"] = (df["Waste_Generation (kg/month)"]-df["Waste_Generation (kg/month)"].min())/(df["Waste_Generation (kg/month)"].max()-df["Waste_Generation (kg/month)"].min())

#### Z-Score

In [18]:
df["Waste_Generation (kg/month)"] = (df["Waste_Generation (kg/month)"]-df["Waste_Generation (kg/month)"].mean())/df["Waste_Generation (kg/month)"].std()

## Binning

Sometimes we want to convert continuous data into discrete data and group our data into small groups.

In [19]:
#define numberofbins:

#use np.linspace to set up bins:

In [20]:
#set bin names

In [21]:
#add bin columns to df using pd.cut

## Converting categorical variables into quantitative variables

Sometimes we want need our categorical variables to have some numeric value so that we can conduct data analysis. Let's say we wanted to see the effect of the type of building on energy usage (which should be a mathematical relationship). Type of building is a categorical variable, so we want to give it numeric value by converting it into a quantiative variable.

In [22]:
#assigns a dummy variable to each categorical variable using pd.get_dummies

In [23]:
#save a new dataframe with the new columns using .join

# Data Visualization (Basics)

Data visualizations help us see distributions and relationships in a dataset.

### Histogram
Make a histogram of energy usage.

In [24]:
# use .hist()

### Scatterplot
Create a scatterplot of Energy Usage vs. Waste Generation

In [25]:
# use plt.scatter()

### Boxplot
Box plots are an easy way to demonstrate the statistics of a dataset. 

Make a boxplot of Waste Generation grouped by Building Type.

In [26]:
# use sns.boxplot

## Basics of Time Series Analysis
Time series analysis involves analyzing time-ordered data to identify trends, seasonal patterns, and other characteristics to extract insights and make future predictions.

First, let's practice importing a dataset again. Download the Mexico City Air Quality Data from our training resources folder and load it into the notebook.

Now let's explore the dataset using some of the functions we learned before.

In [27]:
#hint: use .head(), .info(), and .describe()

Look for what each column represents. Which one is time? Which are pollutants? Also, are all the columns numeric?

#### Converting Data to Datetime Form

Before we can do any time series analysis, we need to clean the data and convert the timestamp into datetime form.

In [28]:
## Convert the timestamp column to datetime
#df['Timestamp'] = pd.to_datetime(df['Timestamp'], dayfirst=True)

# Set as index
#df = df.set_index('Timestamp')

# Check the new index
#df.index

Notice the day/month order â€” dayfirst=True helps parse correctly.

#### Handle Missing Data
We also need to check for missing values and decide how to handle them. Of the two options, try either.

In [29]:
# Check for missing values
#df.isna().sum()

# Option 1: Drop missing rows
#df_clean = df.dropna()

# Option 2: Fill missing values using interpolation
#df_clean = df.interpolate(method='time')

Note: Interpolation is better for time series because it estimates based on trends rather than removing rows.

#### Visualizing Time Series

We want to visualize the air pollutant levels provided by the dataset, so let's plot pollutant trends over time.

In [30]:
#df_clean[['PM2.5 [ug/m3]', 'PM10[ug/m3]', 'Ozone [ppb]']].plot(figsize=(10,5))
#plt.title("Air Pollutant Levels Over Time")
#plt.xlabel("Time")
#plt.ylabel("Concentration")
#plt.show()

Hint: Start with a small sample (e.g. one month) if your plot of all the data looks crowded.